.footerindex {
    /* border: 1px solid black; */
    background-color: #EFBB24;
    /* position: relative; */
    /* width: 100%; */
    /* height: 40px; */
    /* top: 10px; */
    /* padding: 20px; */
    /* font-weight: bold; */
}

.footerright{
    /* position: relative; */
    top: 5px;
    /* float: right; */
    /* right: 10px; */
    color: rgb(122, 100, 87) ;
}

.footerright:hover{
    color: white;
}

.footercopy{
    /* position: relative; */
    /* top: 10px; */
}

.footercenter{
    /* position: relative; */
    /* margin-right: 80px; */
}


@media only screen and (min-width: 300px) and (max-width: 999px)   {
    
    .footerindex{
        display: none;
        /* position: initial; */
     }
       
  }

@media only screen and (min-width: 999px) and (max-width: 1499px)   {
    
      
    .footerindex{
       display: none;
    }
  }